.features {
    background-color: $light-black-color;
    max-width: 1600px auto;

    &__box {
        min-height: 340px;
        display: flex;
        align-items: center;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-grow: 1;

        @include tablet {
            flex-direction: column;
            align-items: center;
            min-height: 610px;
            margin: 0 0 64px 0;
        }
    }

    &__item {
        max-width: 360px;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 140px;
        justify-content: center;

        @include tablet {
            margin: 48px 0 0 0;
        }
    }

    &__img {
        margin-bottom: 28px;
        display: block;
    }

    &__title {
        margin-bottom: 16px;
        color: #FFFFFF;
        @include font(20px, 24px);
    }

    &__text {
        @include font(14px, 17px, 300);
        color: #FFFFFF;
        text-align: center;
    }
}