.registration {

    &__banner {
        display: flex;
        background: $light-pink-color;
        height: 148px;
        align-items: center;
        justify-content: space-between;
    }

    &__banner_text {
        text-transform: uppercase;
        color: $dark-pink-color;
        @include font(24px, 29px, );
    }

    &__banner_list {
        display: flex;
        text-transform: uppercase;
    }

    &__banner_text-item {
        margin: 0 5px 0 5px;
    }

    &__banner_text-item-link {
        text-decoration: none;
        color: #636363;
        @include font(14px, 17px, 300);

        &:hover {
            color: $dark-pink-color;
            @include font(14px, 17px, 700);
        }
    }

    &__box {
        display: flex;
        justify-content: space-between;
        margin: 64px 0 0 0;

        @include tablet {
            margin: 40px 0 0 0;
        }

        @include mobile {
            display: block;
        }

        @include min-mobile {
            display: block;
        }
    }

    &__form__area {
        width: 360px;
        height: 45px;
        margin-top: 21px;
        border: 1px solid #A4A4A4;

        @include mobile {
            width: 358px;
            height: 44px;
        }

        @include min-mobile {
            width: 358px;
            height: 44px;
        }
    }

    &__form__male {
        margin: 31px 0 33px 0;
    }

    &__form__male_tape {
        border: 1px solid #A4A4A4;
        margin-right: 10px;
    }

    &__form__male_text {
        margin-right: 20px;
    }

    &__form_text {
        margin: 15px 0 0 0;
        width: 359px;
        @include font(13px, 16px, 300);
        color: #B1B1B1;
    }

    &__form__button {
        background: transparent;
        border: 1px solid #FF6A6A;
        width: 167px;
        height: 50px;
        margin: 39px 0 96px 0;
        padding: 16px 66px 17px 29px;
        @include font(14px, 17px);
        color: #F26376;
        position: relative;

        &:hover {
            background-color: #FF6A6A;
            color: #FFFFFF;
        }

        &:hover .registration__form__button_img {
            fill: white;
        }
    }

    &__form__button_img {
        position: absolute;
        right: 29px;
        top: 18px;
        fill: #F26376;
    }

    &__box_info {
        @include font(24px, 29px, 300);
        margin: 0 0 0 128px;

        @include tablet {
            @include font(16px, 19px, 300);
            margin: 0 0 0 22px;
        }

        @include mobile {
            margin: 0 0 96px 0;
        }

        @include min-mobile {
            margin: 0 0 96px 0;
        }
    }

    &__info_title {
        @include font(24px, 29px, 300);

        @include tablet {
            @include font(16px, 19px, 300);
        }
    }

    &__info_text {
        margin: 22px 0 21px 0;
    }

    &__info_item {
        margin: 0 0 16px 42px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            background-image: url(../img/registration-info-img.svg);
            width: 20px;
            height: 16px;
            left: -41px;
            top: 20%;
        }
    }
}